.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    .content {
        margin: 15px;
        padding: 15px;

        background-color: var(--background-color-dark);
        display: flex;

        width: 100%;
        max-width: 500px;
        
        position: relative;
        
        img {
            width: 100px;
            height: 100px;
            border-radius: 5px;
        }

        .source {
            position: absolute;
            right: 15px;
            top: 20px;
        }

        span {
            font-family: 'Gotham', sans-serif;
        }

        .links {
            display: flex;
            margin: 5px;
            margin-left: -5px;
        }

        a {
            margin-left: 10px;
        }

        .external {
            color: var(--link-color);
            opacity: 0.5;
            margin-left: 5px;
            font-size: 0.8rem;
        }

        .icon {
            color: var(--link-color);
            margin-right: 5px;
        }
    }

    @media (max-width: 500px) {
        .content {
            flex-direction: column;
            align-items: center;

            .links {
                flex-direction: column;
            }
        }

        h4, .info {
            text-align: center;
        }
    }

    @media (min-width: 500px) {
        .content {
            flex-direction: row;
            
            .links {
                flex-direction: row;
            }
        }

        h4, .info {
            text-align: left;
        }
    }

    h4, .info {
        margin: 0;
        margin-left: 5px;
    }

    .name {
        font-size: 1.4rem;
        margin: 0;
    }

    .alias {
        font-size: rem;
        margin: 0;
    }
}