@import url('https://fonts.cdnfonts.com/css/gotham');

/* Purple Dark Theme */
:root {
  --background-color: #1C1523;
  --background-color-dark: #170F1F;

  --text-color: #effaff;
  --link-color: #B3A9F1;
}

html, body, #root, .App {
  height: 100%;
  overflow: auto;
}


body {
  margin: 0;
  font-family: 'Gotham', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b, strong, h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham Black', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
