body {
    background-color: rgb(8, 8, 8);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}
* {
    margin: 0;
}
a {
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
}
.reference > a:hover {
    color: #ff3635;
}
.social > a:hover {
    color: #ff3635;
}
.glow:hover {
    text-shadow: 0 0 32px white;
}
::selection {
    background-color: #ffffff;
    color: #403353;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  opacity: 1;
}
::-webkit-scrollbar-thumb {
  transition: 0.4s;
  background: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(233, 233, 233);
}
.user-side {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding-left: 100px;
}
.info {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.pfp {
    border-radius: 5px;
}
@media (max-width: 1000px) {
    body {
        zoom: 2;
    }
    .gradient {
        position: absolute !important;
        width: 100% !important;
        height: 25% !important;
        background-image: linear-gradient(to top, rgb(8, 8, 8) 10%, transparent 100%), url('https://cdn.discordapp.com/attachments/608856607098535957/736476640481378324/unknown.png') !important;
        margin-bottom: 100px !important;
    }
    .user-side {
        padding-left: 0% !important;
    }
    .info {
        width: 100%;
        text-align: center;
        top: 200px;
    }

    .stuff {
        position: absolute;
        top: 200px;
        width:100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        text-align: center;
    }
    .social > a {
        margin-right: 3% !important; 
    }
}
.gradient {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 25%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, rgb(8, 8, 8) 10%, transparent 100%), url('https://cdn.discordapp.com/attachments/608856607098535957/736476640481378324/unknown.png');
}
#user {
  margin-top: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-size: 27px;
}
.alias {
    font-size: 12px;
    padding: 0px;
    margin-top: 0px;
}
#about {
    font-size: 16px;
    margin-top: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.reference {
    margin-top: 2px;
    margin-bottom: 2px;
}
.social {
    margin-top: 10px;
    margin-bottom: 10px;
}
.social > a {
    margin-right: 10%;
}
.stuff {
    padding-left: calc(25% + 100px);
    width: calc(75% - 100px - 150px);
    height: 100%;
    padding-top: 150px;
    padding-right: 150px;
}
#category > h1 {
    margin-top: 25px;
    margin-bottom: 25px;
}
#category > a {
    display: block;
}
#category > a > #object {
    float: left;
    width: 40%;
    padding: 2% 1%;
    margin: 2% 2%;
    border-radius: 6px;
    background-color: rgb(20,20,20);
}
.tile-title {
    font-size: 25px;
    top: 0;
}
.tile-about {
    margin: 15px 0px;
}
.tile-information {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
}
#object {
    position: relative;
}
.preview {
    width: 25px;
    border-radius: 6px;
    vertical-align: middle;
}
h1 {
    float: left;
    margin-right: 75%;
    white-space: nowrap;
}
img {
    margin-right: 5px;
}